In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\ferzi\python practice\Risk on a Loan Portfolio Using Statistical Tests\loan-dataset-1.csv')
df

,loan_id,principal_loan_amount,request_date,interest_rate,loan_channel,is_approved,is_default,customer_monthly_income,customer_age,customer_gender,customer_credit_score,customer_zip_code
0,70280c1b-4339-4949-ba69-ad2a6cb6b782,8880,2023-03-06,9.0,WEB,True,NaN,6100,30,Male,3,10007
1,8a550559-9749-491b-b6aa-7188bc0a488f,13720,2023-05-10,10.0,MOBILE_APP,True,NaN,5150,39,Female,3,10004
2,5644d27e-e05e-4a40-bef3-64187892338f,2090,2023-02-16,7.5,AGENT,True,NaN,6030,43,Female,3,10003
3,9d8d17ac-8af9-4936-ba5d-8d5ed5e0cfab,6820,2023-02-26,8.5,MOBILE_APP,NaN,NaN,2150,54,Male,0,10004
4,4586ad7a-2231-419b-b8e3-ba03b929b56e,13770,2023-04-13,10.0,AFFILIATE,NaN,NaN,5810,28,Female,2,10007
...,...,...,...,...,...,...,...,...,...,...,...,...
15158,1a3c6a20-4da0-422c-8c89-d9d1906b2f84,3320,2023-05-03,8.0,AGENT,True,NaN,3900,49,Male,5,10005
15159,c870947f-28f3-424e-89d4-ebc0d8126bcb,12370,2023-01-03,9.5,DIRECT_SELLING,True,NaN,3120,33,M,3,10009
15160,fde0b44b-f82b-4452-8719-8190e95a5884,14150,2023-05-19,10.0,AFFILIATE,True,NaN,3120,31,Female,4,10007
15161,91bd0c9b-306c-41ea-b6b1-aa7b01c71b5c,3250,2023-01-22,8.0,DIRECT_SELLING,True,NaN,6390,38,Male,3,10009
15162,0608c5bc-2eaa-42c2-a034-3d189fda6567,10990,2023-01-21,9.5,AFFILIATE,True,NaN,3090,43,Male,3,10005

In [17]:
## Doing Exploratory Analysis and checking if the data is valid

'''Explore the data to see if it is clean based on the below requirements:

    1. the data count is sufficient for analysis (at least 10.000 distinct rows)

    2. no blank data

    3. numeric values are in the acceptable range (e.g. loan interest percentage should not be negative or exceed 100%)

    4. the date range is maximum of 12 months

    5. the loan channel contains one of the following valid strings : DIRECT_SELLING, AGENT, WEB, MOBILE_APP, AFFILIATE

    6. gender contains only F / M or Female / Male '''

print('Total number of rows for the loan data is: ', df.shape[0], '\n')
     
if df.duplicated().any():
    print('But there are', df.duplicated().sum(), 'duplicate rows in the DataFrame\n')
else:
    print('And there are no duplicate rows in the DataFrame\n')
        
if df.isna().any().any():
    print('There are NaN values in the following columns in the DataFrame')
    print(df.isna().any(axis=0)[df.isna().any()], '\n')
else:
    print('There are no NaN values in the DataFrame\n')

print('principal_loan_amount:', df['principal_loan_amount'].min(), 'to', df['principal_loan_amount'].max())
print('request_date:', df['request_date'].min(), 'to', df['request_date'].max())
print('interest_rate:', df['interest_rate'].min(), 'to', df['interest_rate'].max())
print('loan_channel:', df['loan_channel'].unique())
print('is_approved:', df['is_approved'].unique())
print('is_default:', df['is_default'].unique())
print('customer_monthly_income:', df['customer_monthly_income'].min(), 'to', df['customer_monthly_income'].max())
print('customer_age:', df['customer_age'].min(), 'to', df['customer_age'].max())
print('customer_gender:', df['customer_gender'].unique())

Total number of rows for the loan data is:  15163

But there are 163 duplicate rows in the DataFrame

There are NaN values in the following columns in the DataFrame
is_approved    True
is_default     True
dtype: bool

principal_loan_amount: 1000 to 15000
request_date: 2023-01-01 to 2023-06-29
interest_rate: 7.5 to 10.0
loan_channel: ['WEB' 'MOBILE_APP' 'AGENT' 'AFFILIATE' 'DIRECT_SELLING'
 'website_revamped' 'ANDROID_V2' 'ANDROID_V3' 'apple_new_v3']
is_approved: [True nan]
is_default: [nan True]
customer_monthly_income: 2000 to 6500
customer_age: 22 to 60
customer_gender: ['Male' 'Female' 'M' 'F']

In [27]:
'''Change the dataframe to conform standards. The risk team has the following rules for data cleaning:

    Blank value in boolean columns means it actually contains False.

    The following mapping for loan_channel (case insensitive)

        website_revamped -> WEB

    everything that contains ANDROID or APPLE  -> MOBILE_APP

    For the gender, risk team does not care which combination you use (either F / M or Female / Male )

Save the clean CSV as a new file: loan-dataset-1-clean.csv '''

## Dropping duplicates

df = df.drop_duplicates()
print('Now the total number of rows for the loan data is: ', df.shape[0], '\n')
     
if df.duplicated().any():
    print('But there are still', df.duplicated().sum(), 'duplicate rows in the DataFrame\n')
else:
    print('And now there are no duplicate rows in the DataFrame\n')

    
df.fillna('False', inplace=True)


if df.isna().any().any():
    print('There are still NaN values in the following columns in the DataFrame')
    print(df.isna().any(axis=0)[df.isna().any()], '\n')
else:
    print('Now there are no NaN values in the DataFrame as well\n')
    
for a in df.index:
    if df.loc[a]['loan_channel'] == 'website_revamped':
        df.at[a,'loan_channel'] = 'WEB'
    elif df.loc[a]['loan_channel'] == 'ANDROID_V2' or df.loc[a]['loan_channel'] == 'ANDROID_V3' or df.loc[a]['loan_channel'] == 'apple_new_v3':
        df.at[a,'loan_channel'] = 'MOBILE_APP'
        
print('loan_channel:', df['loan_channel'].unique())

for a in df.index:
    if df.loc[a]['customer_gender'] == 'Male':
        df.at[a,'customer_gender'] = 'M'
    elif df.loc[a]['customer_gender'] == 'Female':
        df.at[a,'customer_gender'] = 'F'
        
print('customer_gender:', df['customer_gender'].unique())

Now the total number of rows for the loan data is:  15000

And now there are no duplicate rows in the DataFrame

Now there are no NaN values in the DataFrame as well

loan_channel: ['WEB' 'MOBILE_APP' 'AGENT' 'AFFILIATE' 'DIRECT_SELLING']
customer_gender: ['M' 'F']

In [28]:
df.to_csv(r'C:\Users\ferzi\python practice\Risk on a Loan Portfolio Using Statistical Tests\loan-dataset-1-clean.csv')